.Encabezado
{
	background-color: red;
}
.Centro
{
	background-color: blue;
}
.Pie
{
	background-color: yellow;
}
.uno
{
	 background-color: green;
}
.dos
{
	 background-color: cyan;
}
.tres
{
	 background-color: brown;
}